#cabecera
{
    background-color: aquamarine;
    font-size: 170px;
    color: black;
    border: 0px aquamarine;
}

#post
{
    font-size: 20px;
    background-color: black;
    color: white;
    border: 30px black;
}